{{#if updateQuestionForm}}
  <h4>Update {{question.author}}'s question</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author" placeholder=question.author}}
      </div>

      <div class="form-group">
        <label for="description">Question</label>
        {{input value=description id="description" placeholder=question.description}}
      </div>

      <div class="form-group">
        <label for="notes">Notes</label>
        {{input value=notes id="notes" placeholder=question.notes}}
      </div>

      <button {{action 'update' question}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'updateQuestionForm'}}>Update Question</button>
{{/if}}
